name: Build with ESP-IDF v5.5

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    container:
      image: espressif/idf:v5.5
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Build project
      shell: bash
      run: |
        . /opt/esp/idf/export.sh
        idf.py build
